/* Estilo geral do corpo da página */
body {
    font-family: Arial, sans-serif; /* Define a fonte padrão */
    margin: 0; /* Remove a margem padrão do navegador */
    padding: 0; /* Remove o preenchimento padrão do navegador */
    background-color: #635656; /* Define a cor de fundo da página */
}

/* Estilo do cabeçalho */
header {
    background-color: #b4b0b0; /* Define a cor de fundo do cabeçalho */
    color: hsl(0, 0%, 0%); /* Define a cor do texto do cabeçalho */
    text-align: center; /* Centraliza o texto do cabeçalho */
    padding: 1em 0; /* Adiciona preenchimento vertical ao cabeçalho */
}

/* Estilo das seções da página */
section {
    padding: 2em; /* Adiciona preenchimento interno às seções */
    margin: 1em 0; /* Adiciona margem vertical entre as seções */
    background-color: #fff; /* Define a cor de fundo das seções */
    border-radius: 5px; /* Adiciona bordas arredondadas às seções */
}

/* Estilo dos títulos principais e secundários */
h1, h2 {
    color: #fa1616; /* Define a cor dos títulos */
    text-align: center; /* Centraliza os títulos na página */
}

/* Estilo das imagens */
img {
    max-width: 200px; /* Define a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 50%; /* Adiciona bordas arredondadas para imagens circulares */
    margin-right: 20px; /* Adiciona espaçamento à direita da imagem */
}

/* Estilo para a div que contém a imagem e o texto na seção Sobre Mim */
.sobre-mim-conteudo {
    display: flex; /* Alinha a imagem e o texto em linha */
    align-items: center; /* Alinha verticalmente a imagem e o texto */
}

/* Estilo das listas não ordenadas */
ul {
    list-style-type: none; /* Remove os marcadores padrão das listas */
    padding: 0; /* Remove o preenchimento padrão das listas */
    display: flex; /* Define o layout como flexível para alinhar itens em linha */
    flex-wrap: wrap; /* Permite que os itens quebrem para a linha seguinte se não houver espaço suficiente */
    gap: 10px; /* Adiciona espaço entre os itens */
    justify-content: center; /* Centraliza os itens dentro do contêiner da lista */
}

/* Estilo dos itens da lista */
ul li {
    background: #471818; /* Define a cor de fundo dos itens da lista */
    border: 2px solid #3498db; /* Adiciona uma borda colorida ao redor dos itens */
    border-radius: 5px; /* Adiciona bordas arredondadas aos itens */
    margin: 0; /* Remove a margem vertical dos itens */
    padding: 10px; /* Adiciona preenchimento interno aos itens */
    width: 150px; /* Define a largura dos itens */
    text-align: center; /* Centraliza o texto dentro dos itens */
}

/* Estilo do rodapé */
footer {
    background-color: #333; /* Define a cor de fundo do rodapé */
    color: #fff; /* Define a cor do texto do rodapé */
    text-align: center; /* Centraliza o texto do rodapé */
    padding: 0.05em 0; /* Diminui o preenchimento vertical do rodapé */
    position: fixed; /* Fixar o rodapé na parte inferior da página */
    width: 100%; /* Define a largura do rodapé como 100% */
    bottom: 0; /* Posiciona o rodapé na parte inferior da página */
    font-size: 0.9em; /* Ajusta o tamanho da fonte do rodapé */
}

/* Estilo dos links */
a {
    color: #3498db; /* Define a cor dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
}

/* Estilo dos links ao passar o mouse */
a:hover {
    text-decoration: underline; /* Adiciona sublinhado aos links ao passar o mouse */
}
